body, input, button {
  font-family: 'Gloria Hallelujah', cursive;
}
header {
  width: 90%;
  height: 80px;
  position:fixed;
  padding:fixed;
  top:10;
  left:5;
  z-index:5;
  background: rgb(70, 70, 70);
  box-shadow: 0px 2px 4px rgb(27, 26, 26);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

header input {
  width:90%;
  height: 50px;
  position:absolute;
  top:15px;
  right:50px;
  z-index:2;
  color:rgb(255, 255, 255);
  font-size:15px;
  font-weight:400;
  text-indent: 18px;
  background: rgb(96, 96, 97);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 0px;
  box-shadow: none;
  outline: none;

-webkit-appearance:none;
-moz-appearance:none;
-ms-appearance:none;
-o-appearance:none;
  appearance:none;
}
header input {
  width:90%;
  height: 50px;
  position:absolute;
  top:15px;
  right:50px;
  z-index:2;
  color:rgb(255, 255, 255);
  font-size:15px;
  font-weight:400;
  text-indent: 18px;
  background: rgb(96, 96, 97);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 0px;
  box-shadow: none;
  outline: none;

-webkit-appearance:none;
-moz-appearance:none;
-ms-appearance:none;
-o-appearance:none;
  appearance:none;
}

header input::-webkit-input-placeholder {
  color:rgb(255, 255, 255)
}
header input::-moz-input-placeholder {
  color:rgb(255, 255, 255)
}
header input::-moz-input-placeholder {
  color:rgb(255, 255, 255)
}
header input::-ms-input-placeholder {
  color:rgb(255, 255, 255)
}


header button {
  width:50px;
  height:50px;
  position:absolute;
  top:16px;
  right:50px;
  z-index:2;
  border-radius: 25px;
  background: rgb(255, 255, 255);
  border:0px;
  box-shadow:none;
  outline: none;
}

header button img{
  position:absolute;
  top:1px;
  right:0px

}
